<!DOCTYPE html>
<head>
    <title>{{restaurant_name}} - Home Page</title>
</head>
<body>
    {% extends "templates.html" %}
    {% block content %}
    <h1> Welcome to {{restaurant_name}}</h1>
    <img src="{% static 'logo.png'%}" alt="Restaurant Logo" style="width :200px ;height = auto;">
    <form action="#" method="get">
        <input type="text " name="q" placeholder="Search your items..." required>
        <button type="submit"> Search</button>
    <p> Call us :{{phone_number}}</p>

    {%endblock %}
    <div class="map-embed">
        <iframe src = 
        "https:/google.com/maps/embed?pb!=1m18!...(your parameters)..."
        width="400" height="300" allowfullscreen=" " loading = 'lazy'>
        </iframe>
    </div>
</body>
</html>