{% load static %}
{%load tz %}
<html>
    <head>
        <title> Restaurant Management </title>
        <link rel ="stylesheet" href="{% static home.css %}">
    </head>
    <body>
        <div class="content">
            {%block content %}{%end block %}
        </div>
    <footer style="text-align : center ;margin_top:50px ;padding : 15px;color: green;">
        &copy My Restaurant . All rights are reserved
        <p>Opening Hours : Mon-Fri : 11am - 9pm| Sat-Sun : 10am - 10pm </p>
    </footer>
    </body>
</html>